
<div class="container">
 <div class="toolbar" role="banner">
    <div class="logo-container">
      <img class="logo-animate" width="40" alt="Angular Logo" src="../assets/icon2.png"/>
      <span class="logo-name">Transix</span>
    </div>
  </div>

  <div class="body">
    <h1>Welcome Admin</h1>
    <p>
        This section can only be accessed by administrators.<br>
        The admin page is a secure and powerful dashboard designed for administrators to manage various aspects of the system with ease such ad managing user accounts.
    </p>

    <mat-button routerLink="/list" class="get-started-button" mat-button>Manage Accounts</mat-button>
  </div>

  <footer></footer>
</div>

  