<div class="container">
  <div class="toolbar" role="banner">
    <div class="logo-container">
      <img class="logo-animate" width="40" alt="Angular Logo" src="../assets/icon2.png"/>
      <span class="logo-name">KashWise</span>
    </div>

    <div class="button-container">
      <div class="buttons">
        <a class="nav-animate" style="animation-delay: 0.3s" mat-button routerLink="/registration">Register</a>
        <a class="nav-animate" style="animation-delay: 0.5s" mat-button routerLink="/login">Login</a>
      </div>
    </div>
  </div>

  <div class="body">
    <h1>KashWise: Your Smart Personal Finance Manager.</h1>
    <p>
      Take full control of your financial life with KashWise.
      Track your investments, monitor income and expenses, plan budgets,
      and crush your savings goals — all in one beautifully simple dashboard
      built for anyone ready to grow their wealth wisely.
    </p>

    <mat-button routerLink="/login" class="get-started-button" mat-button>Get Started</mat-button>
  </div>

  <footer></footer>
</div>